@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap");

:root {
  --tiltWarp: "Tilt Warp", sans-serif;
  --bookColor: #faf5ff;
  --box-shadow: 0px 2px 5px 1px lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr;
  background-color: #f8fafc;
}

.header {
  grid-row: 1/2;
  background-color: #99f6e4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 1px lightgray;
  font-family: var(--tiltWarp);
  font-size: 25px;
}

.main-content {
  grid-row-start: 2;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
}

button.add-book {
  align-self: center;
  background: none;
  padding: 10px 30px;
  font-family: var(--tiltWarp);
  font-size: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button.add-book:hover {
  background-color: lightgray;
  cursor: pointer;
}

.books-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  background-color: var(--bookColor);
  padding: 20px;
  font-family: var(--tiltWarp);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--box-shadow);
  font-size: 20px;
  font-weight: bold;
}

.title,
.by,
.author,
.pages {
  align-self: center;
}

.book button {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: var(--tiltWarp);
  font-size: 1.3rem;
  font-weight: lighter;
}

.book button:hover {
  cursor: pointer;
}

button.not-read {
  background-color: #fb923c;
}

button.not-read:hover {
  background-color: #f97316;
}

button.remove {
  background-color: #d4d4d4;
}

button.remove:hover {
  background-color: #a3a3a3;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  background-color: var(--bookColor);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 300px;
  transition: 200ms ease-in-out;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  font-family: var(--tiltWarp);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: var(--tiltWarp);
}

.popup-header button {
  font-size: 30px;
}

.popup-header button:hover {
  cursor: pointer;
}

.cancel {
  align-self: flex-start;
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
}

.text-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.checkbox {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.checkbox-input {
  width: 15px;
  outline: none;
}

.checkbox-input:hover {
  cursor: pointer;
}
.popup-submit-button {
  width: 100%;
  border: none;
  outline: none;
  background-color: #86efac;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: var(--tiltWarp);
  font-size: 20px;
}

.popup-submit-button:hover {
  cursor: pointer;
  background-color: #4ade80;
}
